**/__pycache__
**/node_modules
**/.venv
**/github-auth.token
github-scraper/repositories.json
github-scraper/cloned_repos
llm-server/huggingface-token
llm-server/not-on-server
**.db
**.db-journal
github-scraper/data
github-scraper/*.pkl
github-scraper/*.json
llm-server/checkpoints/**
!llm-server/checkpoints/.gitkeep
llm-server/evaluation/*.json
**/*.secret
**/*.pkl
!llm-server/out_of_date_test/inverse_relative_log_token_frequencies.pkl