**/__pycache__
**/node_modules
**/.venv
**/github-auth.token
github-scraper/repositories.json
github-scraper/cloned_repos
github-scrper/extracted-py-files
github-scraper/filtered_repositories.json
github-scraper/extracted-py-files/
llm-server/huggingface-token
llm-server/not-on-server
**.db
**.db-journal